Package: rolisteam-doc
Source: rolisteam
Version: 1.8.2ubuntu2
Architecture: all
Maintainer: Renaud Guezennec <renaud@rolisteam.org>
Installed-Size: 17
Depends: rolisteam (>= 1.0.0)
Section: games
Priority: extra
Homepage: http://www.rolisteam.org
Description: Documentation for rolisteam
 Technical Documentation of rolisteam
